<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%t] %-5p %c %x %M(..) - %m%n" />
		</layout>
	</appender>

	<appender name="FILE" class="org.apache.log4j.FileAppender">
		<param name="File" value="/var/lib/tomcat6/logs/rnws.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%t] %-5p %c %x %M(..) - %m%n" />
		</layout>
	</appender>

	<appender name="ROLL" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="/var/lib/tomcat6/logs/rnws.%d{yyyy-MM-dd-HH_mm_ss_SSS}.log" />
		</rollingPolicy>

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%c{1} - %m%n" />
		</layout>
	</appender>

	<root>
		<priority value="debug" />
    <!-- 		<appender-ref ref="ROLL" /> -->
		 <appender-ref ref="FILE" /> 
		<!-- <appender-ref ref="console" />  -->
	</root>

</log4j:configuration>