<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="lib/underscore-min.js"></script>
  <script src="lib/backbone-min.js"></script>
  <script src="lib/dropbox_handler.js"></script>
  
  <script type='text/template' id='todo-template'>
    <tr>
      <th>
        <%= name %>
      </th>
      <th>
        <%= path %>
      </th>
      <th>
        <%= creationTime %>
      </th>
      <th>
        <%= lastAccessTime %>
      </th>
      <th>
        <%= lastModifiedTime %>
      </th>
      <th>
        <%= isDirectory %>
      </th>
      <th>
        <%= isOther %>
      </th>
      <th>
        <%= isRegularFile %>
      </th>
      <th>
        <%= isSymbolicLink %>
      </th>
      <th>
        <%= size %>
      </th>
      <th>
        <%= isInDropbox %>
      </th>
      <th>
        <%= dropboxPath %>
      </th>
    </tr>
  </script>
  
  
  <script src="lib/model/FileModel.js"></script>
  <script src="lib/view/FileView.js"></script>
  <script>
    function init() {
      // Create a model for one file
    	walle = new FileModel({
    	  id: 'walle.wav'
      });
      
      // Create a view to display it
      walleView = new FileView(walle);
      
      // Pull the data from the server to the model
      walle.fetch();
    }
  </script>
  
  <title>Title</title>
</head>
<body onload="init()">
  <h1>Sam's Dropbox Demo</h1>
  <div class="instructions">First time? Visit the link below and copy the authorisation code here.</div>
  <div id="authorisation_link" class="url">insert link here...</div>
  <form id="new_user_authentication" onSubmit="return getAccessToken()">
    <input type="text" name="authorisation_code" id="authorisation_code" class="input"></input>
    <input type="submit" name="done" class="submit"></input>
  </form>
  
  <div id="access_token_instructions" class="instructions">Been here before? Paste your access token here.</div>
  <form id="access_code_authentication" onSubmit="return getAccountDetails()">
    <input type="text" name="access_code" id="access_token" class="input"></input>
    <input type="submit" name="done" class="submit"></input>
  </form>
  
  <hr>
  
  <div id="account_details">
  </div>
  
  <div id="directory">
  </div>
  
  <form id="upload_file" action="dropbox/files" method="post" enctype="multipart/form-data">
    <input type="file" name="file"></input>
    <input type="submit" name="done">
  </form>
  
</body>
</html>