<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="lib/underscore-min.js"></script>
  <script src="lib/backbone-min.js"></script>
  <script src="lib/dropbox-handler.js"></script>

  <!-- Dropbox Chooser -->
  <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="ar4df9h55qh7t6j"></script>

  <script type='text/template' id='file-template'>
      <td>
        <% 
        if (directory) {
            print('<i class="fa fa-folder"></i>')
        }
        else if (regularFile) {
           print('<i class="fa fa-file"></i>')
        }        
        else {
            print('<i class="fa fa-question-circle"></i>')
        } 
        %>
      </td>

      <td>
        <% 
        if (inDropbox) {
          print('<i class="fa fa-dropbox yes"></i>');
        }
        else {
          print('<i class="fa fa-dropbox no"></i> ');
        }
        %>
      </td>

      <td>
        <%= name %>
      </td>

      <td>
        <%= size %>
      </td>

      <td>
        <%
          var date = new Date(parseInt(lastModifiedTime));
          print(date.getDate())
          print("/")
          print(date.getMonth() + 1)
          print("/")
          print(date.getFullYear())
        %>
      </td>

      <td>
        <%= dropboxPath %>
      </td>
  </script>
  
  <script src="lib/model/FileModel.js"></script>
  <script src="lib/collection/DirectoryCollection.js"></script>
  <script src="lib/view/FileView.js"></script>
  <script src="lib/view/DirectoryView.js"></script>
	<script>
		function init() {
			/* Display the Authorisation Link (for new users) */
			getAuthorisationLink();
			
			/* Insert Dropbox 'chooser' (for pulling files from Dropbox) */
			options = {
				success : function(files) {
					var regex = /https:\/\/dl.dropboxusercontent.com\/1\/view\/([^\/]*)\/(.*)/;
					var matches = regex.exec(files[0].link);
					var path = matches[2];
					alert("I think your path is: " + matches[2]);

					var accessToken = $("#access_token").val();
					var urlToContact = "dropbox/files/" + files[0].name + "/from_dropbox" + "?access_token=" + accessToken;
					$.ajax({
			      type: "PUT",
			      url: urlToContact,
			      complete: function() {
			          rootDirectory.fetch({reset: true});
			        }
					})
				},
	
				linkType : "direct",
				
				// TODO: Allow many files to be pulled at once.
				multiselect : false
			};
			var button = Dropbox.createChooseButton(options);
			document.getElementById("dropbox_chooser").appendChild(button);
	
			/* Show files currently on the server */
			rootDirectory = new DirectoryCollection();
			rootDirectoryView = new DirectoryView(rootDirectory);
			rootDirectoryView.setElement("#directory");
			rootDirectoryView.render();
			rootDirectory.fetch({
				reset : true
			});
		}
		
		// Asynchronous File Upload
		function uploadFile() {
			var formObj = $("#upload_file");
			var fileObj = $("#upload_file_field");
	    var filePath = $("#upload_file_field").val();
	    var fileName = filePath.split("\\").pop();
	    var formURL = "dropbox/files/" + fileName;
	    var formData = new FormData();
	    formData.append('file', fileObj[0].files[0]);
	    $.ajax({
	     url: formURL,
	     type: 'POST',
	     data:  formData,
	     mimeType:"multipart/form-data",
	     contentType: false,
	     cache: false,
	     processData:false,
	     success: function(data, textStatus, jqXHR) {
	    	 rootDirectory.fetch({reset: true});
	     },
	     error: function(jqXHR, textStatus, errorThrown) {
	     
	     }          
	    });
	    return false;
		}

	</script>

<title>Sam's Incredible Demonstration</title>
</head>
<body onload="init()">
  
  <h1>Sam's Incredible Demonstration</h1>
  
  <div class="instructions">First time? Visit the link below and copy the authorisation code here.</div>
  <div id="authorisation_link" class="url">insert link here...</div>
  <form id="new_user_authentication" onSubmit="return getAccessToken()">
    <input type="text" name="authorisation_code" id="authorisation_code" class="input"></input>
    <input type="submit" name="done" class="submit"></input>
  </form>
  
  <div id="access_token_instructions" class="instructions">Been here before? Paste your access token here.</div>
  <form id="access_code_authentication" onSubmit="return getAccountDetails()">
    <input type="text" name="access_code" id="access_token" class="input"></input>
    <input type="submit" name="done" class="submit"></input>
  </form>
  
  <hr>
  
  <div class="instructions">Your Dropbox Account</div>
  <div id="account_details">
  </div>
  
  <hr>
  
  <div class="instructions">Files on Server</div>
  <table id="directory">
  </table>
  
  <hr>
  
  <div class="instructions">Upload a File</div>
  <form id="upload_file" onSubmit="return uploadFile()" enctype="multipart/form-data">
    <input id="upload_file_field" type="file" name="file"></input>
    <input type="submit" name="done">
  </form>
  
  <hr>
  
  <div class="instructions">Pull from Dropbox</div>
  <div id="dropbox_chooser"></div>
  
</body>
</html>