<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="lib/underscore-min.js"></script>
  <script src="lib/backbone-min.js"></script>
  <script src="lib/dropbox-handler.js"></script>
  
  <script type='text/template' id='directory-template'>
    <table>
      <tr>

        <th>
        
        </th>

        <th>
          <i class="fa fa-dropbox"></i>
        </th>

        <th>
          Name
        </th>

        <th>
          Size
        </th>

        <th>
          Modified
        </th>

        <th>
          Dropbox Path
        </th>
      </tr>

      <%= stuff %>

    </table>
  </script>  
  
  <script type='text/template' id='file-template'>
    <tr>
      <td>
        <% 
        if (directory) {
            print('<i class="fa fa-folder"></i>')
        }
        else if (regularFile) {
           print('<i class="fa fa-file"></i>')
        }        
        else {
            print('<i class="fa fa-question-circle"></i>')
        } 
        %>
      </td>

      <td>
        <% 
        if (inDropbox) {
          print('<i class="fa fa-dropbox yes"></i>');
        }
        else {
          print('<i class="fa fa-dropbox no"></i> ');
        }
        %>
      </td>

      <td>
        <%= name %>
      </td>

      <td>
        <%= size %>
      </td>

      <td>
        <%
          var date = new Date(parseInt(lastModifiedTime));
          print(date.getDate())
          print("/")
          print(date.getMonth() + 1)
          print("/")
          print(date.getFullYear())
        %>
      </td>

      <td>
        <%= dropboxPath %>
      </td>
    </tr>
  </script>
  
  <script src="lib/model/FileModel.js"></script>
  <script src="lib/collection/DirectoryCollection.js"></script>
  <script src="lib/view/FileView.js"></script>
  <script src="lib/view/DirectoryView.js"></script>
  <script>
    function init() {
      /* // Create a model for one file
    	walle = new FileModel({
    	  id: 'walle.wav'
      });
      
      // Create a view to display it
      walleView = new FileView(walle);
      
      // Pull the data from the server to the model
      walle.fetch(); */
      
      rootDirectory = new DirectoryCollection();
      rootDirectoryView = new DirectoryView(rootDirectory);
      rootDirectoryView.setElement("#directory");
      rootDirectoryView.render();
      
      rootDirectory.fetch({reset: true});
    }
  </script>
  
  <title>Title</title>
</head>
<body onload="init()">
  <h1>Sam's Dropbox Demo</h1>
  <div class="instructions">First time? Visit the link below and copy the authorisation code here.</div>
  <div id="authorisation_link" class="url">insert link here...</div>
  <form id="new_user_authentication" onSubmit="return getAccessToken()">
    <input type="text" name="authorisation_code" id="authorisation_code" class="input"></input>
    <input type="submit" name="done" class="submit"></input>
  </form>
  
  <div id="access_token_instructions" class="instructions">Been here before? Paste your access token here.</div>
  <form id="access_code_authentication" onSubmit="return getAccountDetails()">
    <input type="text" name="access_code" id="access_token" class="input"></input>
    <input type="submit" name="done" class="submit"></input>
  </form>
  
  <hr>
  
  <div id="account_details">
  </div>
  
  <div id="directory">
  </div>
  
  <form id="upload_file" action="dropbox/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file"></input>
    <input type="submit" name="done">
  </form>
  
</body>
</html>