<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Sam's Dropbox Demo</display-name>

	<!-- Servlet to handle dynamic requests -->
	<servlet>
		<servlet-name>Jersey Servlet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>

		<!-- Where are the resource handlers? -->
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>handlers</param-value>
		</init-param>

		<!-- Where is the 'application'? -->
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>application.DemoApplication</param-value>
		</init-param>

		<!-- Make this servlet the first one to load when the web server starts. -->
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Map the above servlet to anything after /dropbox/... -->
	<servlet-mapping>
		<servlet-name>Jersey Servlet</servlet-name>
		<url-pattern>/dropbox/*</url-pattern>
	</servlet-mapping>
	
</web-app>